<p>overview works!</p>
<div class="table-responsive small">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.first_name | titlecase }}</td>
        <td>{{ user.last_name | titlecase }}</td>
        <td>{{ user.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
