<div class="table-responsive small">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.first_name | titlecase }}</td>
        <td>{{ user.last_name | titlecase }}</td>
        <td>{{ user.status }}</td>
        <td>
          <div class="dropdown">
            <button
              class="btn btn-primary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              manage
            </button>
            <ul class="dropdown-menu">
              <li>
                <button class="dropdown-item" type="button">set offline</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">
                  view activity since online
                </button>
              </li>
              <li>
                <button class="dropdown-item" type="button">
                  restrict access to some resources
                </button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
