<header class="text-center d-flex">
  <div class="py-2 px-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="50"
      fill="currentColor"
      class="bi bi-kanban"
      viewBox="0 0 16 16"
    >
      <path
        d="M13.5 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-11a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h11zm-11-1a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2h-11z"
      />
      <path
        d="M6.5 3a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3zm-4 0a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3zm8 0a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3z"
      />
    </svg>
  </div>
  <p class="h3 py-2">
    <span class="custom-title">PraK</span
    ><span class="some-border">Tise<span id="u-score">_</span></span>
  </p>
</header>
{{ this.loginForm.value | json }}
<main class="m-auto">
  <mat-card class="full-width">
    <mat-card-header class="m-auto">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" class="form-width">
        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input
            type="text"
            matInput
            placeholder="admin"
            id="userName"
            formControlName="userName"
          />
          <!--@if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }-->
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="Test@1234"
            id="password"
            formControlName="password"
          />
          <!--@if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }-->
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-around align-items-center">
      <button mat-button class="some-border">Login</button>
      <button mat-button class="some-border">New User?</button>
    </mat-card-actions>
  </mat-card>
</main>
<footer>
  <!--Waves Container-->
  <div class="header">
    <div>
      <svg
        class="waves"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28"
        preserveAspectRatio="none"
        shape-rendering="auto"
      >
        <defs>
          <path
            id="gentle-wave"
            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
          />
        </defs>
        <g class="parallax">
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="0"
            fill="rgba(255,255,255,0.7)"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="3"
            fill="rgba(255,255,255,0.5)"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="5"
            fill="rgba(255,255,255,0.3)"
          />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
    <!--Waves end-->
  </div>
  <div class="footer-title">
    <p class="h4">
      <span class="custom-title">PraK</span
      ><span class="some-border">Tise<span id="u-score">_</span></span>
    </p>
  </div>
</footer>

<!--
  <form [formGroup]="loginForm" >
    <div class="form-floating py-2 mb-2">
      <input
        formControlName="userName"
        type="text"
        class="form-control"
        id="userName"
        placeholder="Username"
        minlength="3"
        [class.is-invalid]="
          getUserNameControlForm().invalid && getUserNameControlForm().touched
        "
      />
      <div
        *ngIf="
          getUserNameControlForm().invalid && getUserNameControlForm().touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getUserNameControlForm()?.errors?.['required']"
        >
          username is required
        </small>
        <small
          class="text-danger"
          *ngIf="getUserNameControlForm().errors?.['minlength']"
        >
          username should be at least 3 characters long</small
        >
      </div>
      <label for="userName">Username</label>
    </div>
    <div class="form-floating">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="Password"
        placeholder="Password"
        minlength="3"
      />
      <div
        *ngIf="
          getPasswordControlForm().invalid && getPasswordControlForm().touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getPasswordControlForm()?.errors?.['required']"
        >
          password is required
        </small>
        <small
          class="text-danger"
          *ngIf="getPasswordControlForm().errors?.['minlength']"
        >
          password should be at least 3 characters long</small
        >
      </div>
      <label for="Password">Password</label>
    </div>

    <div class="text-center m-4">
      <button
        [disabled]="loginForm.invalid"
        class="btn btn-primary w-50 py-2"
        type="submit"
        (click)="test()"
      >
        login in
      </button>
    </div>
  </form>
-->
